
.app {
  display: flex;
  flex-wrap: wrap;
}
/* card */

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 300px;
  max-width: 300px;
  height: 600px;
  margin: auto;
  text-align: center;
  font-family: arial;
  margin-top: 20px;
}
.card:hover{
  background: #f1f1f1;
}
.card img{
  border:2px solid black;
  height:300px;
}
.title {
  color: grey;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
  margin-left: 9px;
  margin-right: 9px;
}


